* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter,sans-serif;
    overflow: hidden;
}
body {
    min-height: 100vh; /**imperatif, à mettre each time**/
    
    color: white;
    background-color: rgba(0, 0, 0, 0.88);
    cursor: none;
}

.mousemove {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 50px solid rgba(255, 255, 255, 0.732);
    mix-blend-mode: difference;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: .2s ease;
    z-index: 5;  
}
.mousemove1 {
    position: absolute;
    height: 200px;
    width: 200px;
    border: 100px solid rgba(0, 0, 0, 0.403);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    transition: .3s ease;
    z-index: 100; 
}
.mousemove2 {
    position: absolute;
    height: 12px;
    width: 12px;
    border: 12px solid rgb(27, 16, 226);
    border-radius: 50%;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    z-index: 5; 
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 10vh;
}
h2 {
    flex: 1;
}
nav ul {
    display: flex;
    justify-content: space-between;
    flex: 1;
}
li {
    padding: 5px;
    list-style: none;
  
}
a,
a:visited {
    color: white;
    text-decoration: none;
    z-index: 1000;
    transition: 0.3s;
    position: relative;
}
a:hover {
    color: blue;
    font-size: 1.3rem;
    
}
p {
    font-size: 0.8rem;
}


.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px auto 30px 20px;
    
}
.header-left {
    width: 50%;
    align-items: center;
    justify-content: center;
}
.header-right {
    width: 40%;
    margin-right: 20px;
    align-items: center;
    justify-content: center;

}
h1 {
    font-size: 4rem;
    margin-bottom: 0;
}
.header-left-container h2 {
color: blue;
margin-bottom: 0;
font-size: 1.8rem;
}
p {
    margin-top: 5px;
}
.header-right img {
    width: 100%;
    /* margin-top: 50px; */
}
.infos {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    background-color: black;
    border-radius: 5px;
    margin: 20px 10px auto 5px;
    align-content: space-between;
}
.infos-left {
    padding-left: 10px;
    width: 40%;
}
h5 {
    margin-bottom: 10px;
}
.btn-container button {
    background-color: blue;
    color: white;
    display: block;
    border-radius: 10px;
    width: 40%;
    font-weight: bold;
    padding: 5px 5px;
    margin-bottom: 5px;
    /* letter-spacing: 1px; */
    /* margin-left: 20px; */
    margin-top: 0;
    overflow: hidden;
    
}
.infos-right {
    width: 60%;
}
.investors {
    display: flex;
    align-items: center;
    height: 80%;
}
.img-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.img-container img {
    width:10%;
   
}
/** version tablette on reduit juste taille font**/
@media screen and (max-width: 900px) {
    nav ul {
        font-size: 0.7rem;
    }
    .header {
        align-items: center;
    }
    .header-left h1 {
        font-size: 2rem;
    }
    .header-left-container h2 {
        font-size: 1rem;
    }
    p {
        font-size: 0.7rem;
    }
    .header-right {
     margin-top: 50px;  
    }
}
/**version mobile**/
@media screen and (max-width:590px) {
    nav {
        display: block;
    }.header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-left {
        width: 100%;
        font-size: smaller;
        text-align: center;
    }
    .header-left h1 {
        font-size: 2rem;
    }
    .header-left h2 {
        font-size: 1rem;
    }
    p {
        font-size: 0.7rem;
    }
    .header-right {
        width: 50%;
        margin-top: 5%;
    }
    .infos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h5 {
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .btn-container {
        display: flex;
        flex-direction: column;
    }
    .btn-container button {
        width: 100%;
    }
}